nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(244, 244, 244);

  height: 55px;
  padding: 15px 40px;
}

nav ul li {
  list-style: none;
  font-weight: 600;
  font-size: 16px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  z-index:10;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 100%;
  padding: 0;
}

.dropdown-content li {
  color: rgb(0, 14, 92);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

li:hover .dropdown-content {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 14, 92);
}
nav ul li button {
  background-color: rgb(0, 14, 92);
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: -10px 10px;
  border-radius: 30px;
  padding: 10px;
}

nav ul li button:hover {
  border: solid 1px rgb(0, 14, 92);
  background-color: inherit;
  color: rgb(0, 14, 92);
}

nav ul li:hover {
  color: #820b0b;
}

@media (max-width: 1200px) {
  .nav-container > ul {
    flex-direction: column;
    height: auto;
  }
  .nav-container > ul>li {
    margin: 5px;
  }

}
@media (max-width: 1300px) {
  .nav-container > ul {
    padding: 15px 0px;
  }
}
